---
layout: layout
---

@using System.Linq;
@using System.Text;
@using MapPlugin;

@{
    bool displayMap =
        Model.Page.Bag.ContainsKey( "layout" ) && 
        ( Model.Page.Layout == "location" ) &&
        Model.Page.ShouldDisplayMap();

    bool displayElevation =
        Model.Page.Bag.ContainsKey( "layout" ) && 
        ( Model.Page.Layout == "location" ) &&
        Model.Page.ShouldDisplayElevation();

    MapInfo mapInfo = MapInfoCollection.Instance.PageMapInfo[Model.Page.Id];
}

<article id="w3-container">
    <header class="w3-container w3-blue-grey">
        <h1>@Model.Page.Title</h1>
        @{
            string author = Model.Page.GetAuthor();
            if(string.IsNullOrWhiteSpace(author) == false)
            {
                @:<p>Written By: @author</p>
            }
        }
        <p>Posted on @Model.Page.Date.ToString( "D" )</p>
    </header>
    <div class="w3-padding w3-white w3-display-container">
        @Raw( Model.Content )
    </div>

    @if( displayMap )
    {
        <div class="w3-padding w3-white w3-display-container">
            <h2>Map</h2>
            <noscript>JavaScript Required to make a map.</noscript>
            <div id="mapid" style="width=100%;height:500px;"></div>
        </div>
    }

    <div class="w3-padding w3-white w3-display-container">
        <h2>Segment Data</h2>
        @foreach( IEnumerable<Line> lines in new IEnumerable<Line>[]{ mapInfo.CoolLines, mapInfo.MehLines, mapInfo.LameLines } )
        {
            @foreach( Line line in lines )
            {
                string rating;
                if( object.ReferenceEquals( lines, mapInfo.CoolLines ) )
                {
                    rating = Rating.Cool.ToString();
                }
                else if( object.ReferenceEquals( lines, mapInfo.MehLines ) )
                {
                    rating = Rating.Meh.ToString();
                }
                else
                {
                    rating = Rating.Lame.ToString();
                }

                <h3>@line.Name</h3>
                <ul>
                    <li><strong>Segment Rating:</strong> @rating</li>
                    @if( displayElevation )
                    {
                        <li><strong>Minimum Elevation:</strong> @line.Coordinates.Min( c => c.Elevation.Value ).ToString( "F" ) meters.</li>
                        <li><strong>Maximum Elevation:</strong> @line.Coordinates.Max( c => c.Elevation.Value ).ToString( "F" ) meters.</li>
                        <li><strong>Average Elevation:</strong> @line.Coordinates.Average( c => c.Elevation.Value ).ToString( "F" ) meters.</li>
                    }
                    @if( displayMap )
                    {
                        <li><a href="#" id="startLineLink_@line.Id">View Start On Map</a></li>
                        <li><a href="#" id="endLineLink_@line.Id">View End On Map</a></li>
                    }
                </ul>
                @if( displayElevation )
                {
                    <h4>Elevation</h4>
                    <noscript>JavaScript required to make a graph.</noscript>
                    <div id="elevGraph@line.Id"></div>
                }
            }
        }
    </div>

    @if( Model.Comments )
    {
        <div class="w3-container">
            <h2>Comments</h2>
            <noscript>JavaScript is needed to load Comments.</noscript>
            <div id="disqus_thread"></div>
            <script>

            /**
            *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
            *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
            
            var disqus_config = function () {
                this.page.url = '@Model.Site.Config["url"].ToString()@Model.Page.Url';  // Replace PAGE_URL with your page's canonical URL variable
            };
            
            (function() { // DON'T EDIT BELOW THIS LINE
            var d = document, s = d.createElement('script');
            s.src = 'https://@(Model.Site.Config["disqus_shortname"].ToString()).disqus.com/embed.js';
            s.setAttribute('data-timestamp', +new Date());
            (d.head || d.body).appendChild(s);
            })();
            </script>
            <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
            <a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>
        </div>
    }

    <footer class="w3-container w3-blue-grey">
        <div>
            @if( Model.Previous != null )
            {
                <a href="@Model.Previous.Url" title="Previous Post: @Model.Previous.Title">&larr; @Model.Previous.Title</a>
            }
            @if( Model.Next != null )
            {
                <a href="@Model.Next.Url" title="next Post: @Model.Next.Title">@Model.Next.Title &rarr; </a>
            }
        </div>
        <p>
            <strong>Posted In:</strong>
            @{
                foreach( string category in Model.Page.Categories )
                {
                    foreach( var page in Model.Site.Pages )
                    {
                        if( page.Bag.ContainsKey( "category" ) )
                        {
                            if( category.Equals( page.Bag["category"] ) )
                            {
                                @:<a href="@(page.Url)">@(category)</a> 
                            }
                        }
                    }
                }
            }
        </p>
        <p>
            <strong>Tagged As:</strong>
            @foreach( string tag in Model.Page.Tags )
            {
                foreach( var page in Model.Site.Pages )
                {
                    if( page.Bag.ContainsKey( "tag" ) )
                    {
                        if( tag.Equals( page.Bag["tag"] ) )
                        {
                            @:<a href="@(page.Url)">@(tag)</a>
                        }
                    }
                }
            }
        </p>
    </footer>
</article>

@if( displayMap )
{
    MapInfo info = MapInfoCollection.Instance.PageMapInfo[Model.Page.Id];
    Func<IReadOnlyList<GpsCoordinate>, string> getCoords = delegate( IReadOnlyList<GpsCoordinate> coords )
    {
        StringBuilder builder = new StringBuilder();
        builder.Append( "[" );
        foreach( GpsCoordinate coord in coords )
        {
            builder.Append( $"[{coord.Latitude}, {coord.Longitude}],");
        }

        builder.Remove( builder.Length - 1, 1 );
        builder.Append( "]");
        return builder.ToString();
    };

    <!-- SCRIPTS -AT THE BOTTOM TO REDUCE THE LOAD TIME-->
    <script src="/static/js/leaflet.js"></script>
    <script>
        // Create Map
        var map = L.map('mapid').setView([@info.CenterPoint.Latitude, @info.CenterPoint.Longitude], 13);

        // Pull from OSM API
        var osmURL = "http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png";

        // In order to use open street map, we need to attribute to it.
        var osmAttrib = 'Map Data &copy; <a href="http://openstreetmap.org/copyright">OpenStreetMap</a> contributors';

        // Create the OSM layer.
        var osm = new L.TileLayer( osmURL, { minZoom: 0, maxZoom: 18, attribution: osmAttrib});

        // Set the map to start at RIT at zoom level 3.
        // map.setView(new L.LatLng(43.085, -77.678419), 3);

        // Add the osm layer to the map
        map.addLayer(osm);

        // Create POI Icon
        var poiIcon = L.icon({
            iconUrl: "/static/img/leaflet/marker-icon.png",
            iconSize: [25, 41],
            iconAnchor:[12.5, 41],
            popupAnchor:[0, -30]
        });

        // Add the points of interest
        @foreach( PointOfInterest poi in info.PointsOfInterest )
        {
            <text>
            var poiHtml_@(poi.Id) = '<div class="left" style="overflow: auto; color: black;">@poi.Name</div>';
            var poiPopup_@(poi.Id) = L.popup({maxwidth:500}).setContent(poiHtml_@(poi.Id));
            var poiMarker_@(poi.Id) = L.marker([@poi.Coordinate.Latitude, @poi.Coordinate.Longitude]).setIcon(poiIcon).addTo(map).bindPopup(poiPopup_@(poi.Id));
            </text>
            if( string.IsNullOrWhiteSpace(poi.DocId) == false )
            {
                <text>
                    document.getElementById( '@poi.DocId' ).onclick = function (){
                        poiMarker_@(poi.Id).openPopup();
                        map.setView( [@poi.Coordinate.Latitude, @poi.Coordinate.Longitude] );
                        return false;
                    };
                </text>
            }
        }

        // Create Hazard Icon
        var poiIcon = L.icon({
            iconUrl: "/static/img/leaflet/marker-icon.png",
            iconSize: [25, 41],
            iconAnchor:[12.5, 41],
            popupAnchor:[0, -30]
        });

        // Add the Hazards
        @foreach( Hazard hazard in info.Hazards )
        {
            <text>
            var hazardHtml_@(hazard.Id) = '<div class="left" style="overflow: auto; color: black;">@hazard.Name</div>';
            var hazardPopup_@(hazard.Id) = L.popup({maxwidth:500}).setContent(hazardHtml_@(hazard.Id));
            var hazardMarker_@(hazard.Id) = L.marker([@hazard.Coordinate.Latitude, @hazard.Coordinate.Longitude]).setIcon(hazardIcon).addTo(map).bindPopup(hazardPopup_@(hazard.Id));
            </text>
            if( string.IsNullOrWhiteSpace(hazard.DocId) == false )
            {
                <text>
                    document.getElementById( '@hazard.DocId' ).onclick = function (){
                        hazardMarker_@(hazard.Id).openPopup();
                        map.setView( [@hazard.Coordinate.Latitude, @hazard.Coordinate.Longitude] );
                        return false;
                    };
                </text>
            }
        }

        @foreach( IEnumerable<Line> lines in new IEnumerable<Line>[] { info.CoolLines, info.MehLines, info.LameLines } )
        {
            @foreach( Line line in lines )
            {
                string coordString = getCoords( line.Coordinates );
                string color;
                if( object.ReferenceEquals( lines, info.CoolLines ) )
                {
                    color = "green";
                }
                else if( object.ReferenceEquals( lines, info.MehLines ) )
                {
                    color = "yellow";
                }
                else
                {
                    color = "red";
                }

                GpsCoordinate startPoint = line.Coordinates.First();
                GpsCoordinate endPoint = line.Coordinates.Last();

                <text>
                    var line_@(line.Id)_options = { color: '@color' };
                    var line_@(line.Id) = L.polyline( @coordString, line_@(line.Id)_options );
                    line_@(line.Id).addTo(map);

                    var lineStartHtml_@(line.Id) = '<div class="left" style="overflow: auto; color: black;">Start: @line.Name</div>';
                    var lineStartPopup_@(line.Id) = L.popup({maxwidth:500}).setContent(lineStartHtml_@(line.Id));
                    var lineStartMarker_@(line.Id) = L.circleMarker(
                        [@startPoint.Latitude, @startPoint.Longitude],
                        { color: 'green' }
                    ).setRadius( 5 );
                    lineStartMarker_@(line.Id).addTo(map).bindPopup(lineStartPopup_@(line.Id));
                    document.getElementById( 'startLineLink_@line.Id' ).onclick = function()
                    {
                        lineStartMarker_@(line.Id).openPopup();
                        map.setView( [@startPoint.Latitude, @startPoint.Longitude] );
                        return false;
                    };

                    var lineEndHtml_@(line.Id) = '<div class="left" style="overflow: auto; color: black;">End: @line.Name</div>';
                    var lineEndPopup_@(line.Id) = L.popup({maxwidth:500}).setContent(lineEndHtml_@(line.Id));
                    var lineEndMarker_@(line.Id) = L.circleMarker(
                        [@endPoint.Latitude, @endPoint.Longitude],
                        { color: 'red' }
                    ).setRadius( 5 );
                    lineEndMarker_@(line.Id).addTo(map).bindPopup(lineEndPopup_@(line.Id));
                    document.getElementById( 'endLineLink_@line.Id' ).onclick = function()
                    {
                        lineEndMarker_@(line.Id).openPopup();
                        map.setView( [@endPoint.Latitude, @endPoint.Longitude] );
                        return false;
                    };
                </text>
            }
        }

        // Add the Good Polygons
        @foreach( Polygon coolPolygon in info.CoolPolygons )
        {
            string coordString = getCoords( coolPolygon.Coordinates );
            <text>
                var coolPolygon_@(coolPolygon.Id)_options = { color: 'green' };
                var coolPolygon_@(coolPolygon.Id) = L.polygon( @coordString, coolPolygon_@(coolPolygon.Id)_options );
                coolPolygon_@(coolPolygon.Id).addTo(map);
            </text>
        }

        // Add the Meh Polygons
        @foreach( Polygon mehPolygon in info.MehPolygons )
        {
            string coordString = getCoords( mehPolygon.Coordinates );
            <text>
                var mehPolygon_@(mehPolygon.Id)_options = { color: 'yellow' };
                var mehPolygon_@(mehPolygon.Id) = L.polygon( @coordString, mehPolygon_@(mehPolygon.Id)_options );
                mehPolygon_@(mehPolygon.Id).addTo(map);
            </text>
        }

        // Add the Lame Polygons
        @foreach( Polygon lamePolygon in info.LamePolygons )
        {
            string coordString = getCoords( lamePolygon.Coordinates );
            <text>
                var lamePolygon_@(lamePolygon.Id)_options = { color: 'red' };
                var lamePolygon_@(lamePolygon.Id) = L.polygon( @coordString, lamePolygon_@(lamePolygon.Id)_options );
                lamePolygon_@(lamePolygon.Id).addTo(map);
            </text>
        }
    </script>
}

@if( displayElevation )
{
}